/*main{*/
/*    position: relative;*/
/*}*/
.form-area{
    background-color: var(--main-purple);
    /*background-color: red;*/
    width: 100%;
    /**/
/*margin-top: 7rem;*/
    padding-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 15px;
    margin: 8.5rem 0 0 0 ;
    /*position: relative;*/
    padding-bottom: 2rem;
}
.movie-search-h1{
    font-size: 3.2rem;
    color: var(--dark-soft-white);
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.search-container{
    position: relative;
    width: 80%;

    /*border: 2px solid red;*/
}
.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
/*TODO: search form*/
#form-area-search{
    width: 100%;
    max-width: 500px;
    height: 35px;
    background-color: transparent;
    color: var(--soft-white);
    padding: 15px 15px 15px 5px;
    font-size: 2rem;
    outline: none;
    border-left: 2px solid var(--dark-soft-white);
}
input::placeholder{
    color: var(--soft-white);
}

.fa-filter{
    color: var(--dark-soft-white);
    font-size: 2rem;
}

/*TODO: add and edit buttons*/
.movie-output-control{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-width: 500px;

    margin: 0 auto 4rem auto;
}
.btn{
    width: 140px;
    height: 42px;
    border-radius: 25px;
    background-color: var(--purple2);
    color: var(--dark-soft-white);
    /*font-size: 1.6rem;*/
    /*font-weight: 500;*/
}

@media screen and (min-width: 750px) {
    .movie-search-h1 {
        font-size: 5.2rem;
        margin-bottom: 5rem;
        font-weight: 300;
    }
    .movie-output-control{
        margin: 0 auto 5.2rem auto;
    }
}