*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
}
nav{
    height: 6rem;
    width: 100vw;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: relative;
    z-index: 10;
    top: 0;
    left: 50%;
    border-bottom-right-radius:15px;
    border-bottom-left-radius: 15px;
    transform: translateX(-50%);
}

/*Styling logo*/
/*.logo{*/
/*    text-align: center;*/
/*    position: relative;*/
/*    left: 20px;*/
/*    !*top: 10px;*!*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-right: 5rem;*/
/*}*/

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    max-width: 1300px;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: var(--main-purple);
    font-weight: 500;
}
.nav-links li a:hover {
    color: var(--purple2);
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--purple2);
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: var(--main-purple);
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .hamburger div{
        background: var(--purple2);
    }
    /*.hamburger:active div,.hamburger:focus div{*/
    /*    background: var(--dark-soft-white);*/
    /*}*/
    .nav-links{
        position: fixed;
        background: var(--main-purple);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        /*-webkit-clip-path: circle(50px at 90% -10%);*/
        transition: all 1s ease-out;
        pointer-events: none;
        align-items: center;
        justify-content: center;
    }
    .nav-links li a::before {
        background-color: var(--dark-soft-white);
    }
    .nav-links li a:hover {
        color: var(--dark-soft-white);
    }
    .nav-links li a{
        text-decoration: none;
        /*margin: 0 0.7vw;*/
        color: var(--dark-soft-white);
        font-weight: 500;
        font-size: 5.3rem;
    }
    /*:is(.hamburger.open) div{*/

    /*    background: var(--dark-soft-white);*/
    /*}*/
    .nav-links.open{
        clip-path: circle(1000px at 100%);
        /*-webkit-clip-path: circle(1000px at 90% -10%);*/
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
        margin-bottom: 6rem;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}