.media-scroller{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 78%;
    gap: 11px;
    overflow-x: auto;
    overscroll-behavior: contain;
    padding: 10px;
    width: 100%;}

.media-scroller{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*scrollbar-width: none; !* for Firefox *!*/
    overflow-y: scroll;
}

.media-scroller::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.movie-carousel{
    width: 100%;
 }
.media-element{
    display: grid;
    grid-template-rows: min-content;
    gap: 10px;
    position: relative;
    /*padding-right: 10px;*/
    /*padding: 20px;*/
}
.media-element > img{
    /*padding: 20px;*/
border-radius: 10px;
    width: 100%;
    /*min-width: 175px;*/

    aspect-ratio: 16 / 9;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
scroll-padding-inline: 1rem;

}
.snaps-inline > *{
    scroll-snap-align: start;
}
.fa-circle-xmark{
    font-size: 2.5rem;
position: absolute;
    color: var(--purple2);
    right: 6px;
    top: 6px;
    filter: drop-shadow(0 0 5px #333);
}
.movie-management-btns{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.8rem;
    width: 100%;
    gap: 15px;
}

.bolded{
    font-weight: 600;
    color: var(--dark-soft-white);
    letter-spacing: .065rem;
}
.datap{
    color: var(--soft-white);
    text-transform: capitalize;
}